# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Directorios de producción
/dist
/build

# Directorios de cobertura
/coverage

# Archivos temporales
*.tmp
*.temp

# IDE y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo